
/*  这个公开来替换： https://blog.notgeek.cn/Darian1996/demo/2022/css/MarkdownHTML.css  */
/*  https://blog.notgeek.cn/css/MarkdownHTML/Public.css */
body {
    max-width: 52rem;
    padding: 2rem;
    margin: auto;
    font-family: 'Source Han Serif', serif;
    font-size: 21px;
}
img {
    max-width:100%;
    max-height:100%;
    display: block;
    text-align: center;
    margin:auto;
}
h1 {
    margin-block: 1.2rem;
    font-size: 63px;
}
figcaption {
    text-align: center;
}
nav a, footer div a{
    margin:0px 5px;
    background-image: linear-gradient(
            45deg,
            #e44219,
            #005ff3
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
    font-size: 27px;
}
p, li, h1,h2,h3 {
    background-image: linear-gradient(
            45deg,
            #e44219,
            #005ff3
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.center {
    display: flex;
    justify-content:center;
    align-items:center;
}